@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>*@



<!-- About Section Begin -->
<!--<section class="about-section  header-line">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="about-pic set-bg" data-setbg="~/Content/phozogy-master/img/about/about-pic.jpg">
                    <a href="https://www.youtube.com/watch?v=hxADTEJalRw&list=WL&index=49&t=0s" class="play-btn video-popup"><i class="fa fa-play"></i></a>
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="about-text">
                    <div class="section-title">
                        <h2>Capturing the moments that captivate your heart</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing, tempor incididunt ut labore et dolore
                            magna aliqua. Risus commodo viverra maecenas accumsan lacus vel facilisis. All these
                            taglines are owned by their respective owners, and we do not have any copyright on them.
                        </p>
                    </div>
                    <div class="at-list">
                        <div class="al-item">
                            <div class="al-pic">
                                <img src="Content/phozogy-master/img/about/list-1.png" alt="">
                            </div>
                            <div class="al-text">
                                <h5>Professionalism</h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                                    gravida.
                                </p>
                            </div>
                        </div>
                        <div class="al-item">
                            <div class="al-pic">
                                <img src="Content/phozogy-master/img/about/list-2.png" alt="">
                            </div>
                            <div class="al-text">
                                <h5>Individual approach</h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                                    gravida.
                                </p>
                            </div>
                        </div>
                        <div class="al-item">
                            <div class="al-pic">
                                <img src="Content/phozogy-master/img/about/list-3.png" alt="">
                            </div>
                            <div class="al-text">
                                <h5>Flexible Schedule</h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                                    gravida.
                                </p>
                            </div>
                        </div>
                        <div class="al-item">
                            <div class="al-pic">
                                <img src="Content/phozogy-master/img/about/list-4.png" alt="">
                            </div>
                            <div class="al-text">
                                <h5>Experience</h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                                    gravida.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->
<!-- About Section End -->
<!-- Team Section Begin -->
<section class="team-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="section-title">
                    <h2>Our team</h2>
                    <p>
                        Our team is united by a shared commitment to surpassing your expectations and ensuring that every interaction with us is an extraordinary experience, marked by unrivaled attention to detail, genuine care, and an unwavering dedication to delivering nothing short of exceptional service.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="right-btn">
                    <a href="#" class="primary-btn">Appointment</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team-item">
                    <img src="~/Content/phozogy-master/img/team/ta-1.jpg" alt="">
                    <div class="ti-text">
                        @*<img src="~/Content/phozogy-master/img/testimonial/ta-1.jpg" alt="">*@
                        <h5>Tharinu Deeshan</h5>
                        <span>Chief Photographer</span>
                        <p>Tharindu deeshan is a professional photographer is defined by their passion, artistic vision, technical proficiency, and commitment to delivering exceptional results that meet or exceed our client expectations.</p>
                        <div class="ti-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <br><br><br><br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team-item">
                    <img src="~/Content/phozogy-master/img/team/ta-2.jpg" alt="">
                    <div class="ti-text">
                        <h5>WIMUKTHI GAMAGE</h5>
                        <span>Director</span>
                        <p>Mr.Wimukthi Gamageis a Director of Photo Studio (Pvt) Ltd and also holds directorships in other private sector companies which are under WPK Group.</p>
                        <div class="ti-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <br><br><br><br><br><br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team-item">
                    <img src="~/Content/phozogy-master/img/team/ta-3.jpg" alt="">
                    <div class="ti-text">
                        <h5>Jonathan Wick</h5>
                        <span>Chief Videographer</span>
                        <p>Mr.Jonathan Wick is a professional Videographer is defined by their passion, artistic vision, technical proficiency, and commitment to delivering exceptional results that meet or exceed our client expectations.</p>
                        <div class="ti-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team-item">
                    <img src="~/Content/phozogy-master/img/team/ta-4.jpg" alt="">
                    <div class="ti-text">
                        <h5>Ranuk Dilhara</h5>
                        <span>Editor</span>
                        <div class="ti-social">
                            <p>Mr. Ranuk Dilhara is a Video and photo is defined by their passion, artistic vision, technical proficiency, and commitment to delivering exceptional results that meet or exceed our client expectations.</p>                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <br><br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team Section End -->
<!-- Cta Section Begin -->
@*<section class="cta-section spad set-bg" data-setbg="Content/phozogy-master/img/cta-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="cta-text">
                    <h2>Wanna promote your brand?</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore<br /> magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
                        viverra maecenas.
                    </p>
                    <a href="#" class="primary-btn">Contact us</a>
                </div>
            </div>
        </div>
    </div>
</section>*@
<!-- Cta Section End -->
<!-- Testimoial Section Begin -->
<section class="testimonial-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>What cilent say?</h2>
                    <p>
                        A chorus of heartfelt testimonials that bear witness to our unwavering dedication, outstanding service, and the transformative impact our photography has on capturing cherished moments and creating lasting memories
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="testimonial-item">
                    <div class="ti-author">
                        <div class="ta-pic">
                            <img src="~/Content/phozogy-master/img/testimonial/ta-1.jpg" alt="">
                        </div>
                        <div class="ta-text">
                            <h5>WIMUKTHI PRASAD</h5>
                        </div>
                    </div>
                    <p>
                        I want to commend your team's excellent customer service. From the initial inquiry to the delivery of the final images, your prompt responses, clear communication, and willingness to accommodate my requests made the entire process seamless and enjoyable.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="testimonial-item">
                    <div class="ti-author">
                        <div class="ta-pic">
                            <img src="~/Content/phozogy-master/img/testimonial/ta-2.jpg" alt="">
                        </div>
                        <div class="ta-text">
                            <h5>THEEKSHANI JAGODA</h5>
                        </div>
                    </div>
                    <p>
                        I wanted to take a moment to express my heartfelt gratitude for the incredible photography experience I had with your team. From start to finish, you exceeded my expectations and left me with cherished memories that I will treasure for a lifetime.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="testimonial-item">
                    <div class="ti-author">
                        <div class="ta-pic">
                            <img src="~/Content/phozogy-master/img/testimonial/ta-3.jpg" alt="">
                        </div>
                        <div class="ta-text">
                            <h5>KASUN SIRIWARDANA</h5>
                        </div>
                    </div>
                    <p>
                        Your photographers displayed an exceptional level of professionalism, expertise, and creativity. They skillfully captured every significant moment and emotion, ensuring that no detail went unnoticed. Their ability to make me feel comfortable and at ease during the session truly made a difference in the final results.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="testimonial-item">
                    <div class="ti-author">
                        <div class="ta-pic">
                            <img src="~/Content/phozogy-master/img/testimonial/ta-4.jpg" alt="">
                        </div>
                        <div class="ta-text">
                            <h5>NETHSARA SANDEEPA</h5>
                        </div>
                    </div>
                    <p>
                        The quality of your work is simply outstanding. The composition, lighting, and attention to detail in each photograph are impeccable. I am beyond thrilled with the final images, as they beautifully encapsulate the essence of the moment and bring back all the emotions I felt at that time. You have a true talent for capturing the magic in every frame.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial Section End -->

<style>
    .login-form {
        float: none;
        margin: auto;
        border: 1px solid #ddd;
        padding: 35px 10px;
        border-radius: 10px;
        background-color: #fff;
    }

    .bgimage {
        background-image: url('../../Images/login-bg.png');
        background-size: cover;
    }
</style>

