@*@{
        ViewBag.Title = "Home Page";
    }

    <div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@



    <!-- Hero Section Begin -->
    <section class="hero-section ">

        <div class="hs-slider owl-carousel">

            <div class="hs-item set-bg" data-setbg="Content/phozogy-master/img/hero/hero-3.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="hs-text">
                                <h2>Photo Studio</h2>
                                <p>
                                    Turning Ordinary Moments into Extraordinary Memories
                                    <br /> Where Creativity Meets Vision: Crafting Timeless Stories Through the Lens of a Professional Photographer  
                                </p>
                                <a href="#" class="primary-btn">Contact us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="hs-item set-bg" data-setbg="Content/phozogy-master/img/hero/hero-2.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="hs-text">
                                <h2>Photo Studio</h2>
                                <p>
                                    Turning Ordinary Moments into Extraordinary Memories
                                    <br />Where Creativity Meets Vision: Crafting Timeless Stories Through the Lens of a Professional Photographer
                                </p>
                                <a href="#" class="primary-btn">Contact us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="hs-item set-bg" data-setbg="Content/phozogy-master/img/hero/hero-4.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="hs-text">
                                <h2>Photo Studio</h2>
                                <p>
                                    Turning Ordinary Moments into Extraordinary Memories<br /> Where Creativity Meets Vision: Crafting Timeless Stories Through the Lens of a Professional Photographer
                                </p>
                                <a href="#" class="primary-btn">Contact us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="hs-item set-bg" data-setbg="Content/phozogy-master/img/hero/hero-5.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="hs-text">
                                <h2>Photo Studio</h2>
                                <p>
                                    Turning Ordinary Moments into Extraordinary Memories<br /> Where Creativity Meets Vision: Crafting Timeless Stories Through the Lens of a Professional Photographer
                                </p>
                                <a href="#" class="primary-btn">Contact us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="hs-item set-bg" data-setbg="Content/phozogy-master/img/hero/hero-6.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="hs-text">
                                <h2>Photo Studio</h2>
                                <p>
                                    Turning Ordinary Moments into Extraordinary Memories
                                    <br /> Where Creativity Meets Vision: Crafting Timeless Stories Through the Lens of a Professional Photographer
                                </p>
                                <a href="#" class="primary-btn">Contact us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>
    <!-- Hero Section End -->
    <!-- Services Section Begin -->
    <section class="services-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="services-item">
                        <img src="~/Content/phozogy-master/img/services/service-1.jpg" alt="">
                        <h3>Photography</h3>
                        <p>
                            A Symphony of Visual Delight: Professional Photography that Composes Harmonious Frames, Illuminating the World with Artistic Brilliance and Soulful Expression
                            <br /><br /><br /><br /><br /><br />
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="services-item">
                        <img src="~/Content/phozogy-master/img/services/service-2.jpg" alt="">
                        <h3>Videography</h3>
                        <p>
                            Beyond the Frame, Into the Soul: Professional Videography that Transcends Surface-Level Impressions, Penetrating Hearts and Minds with Stories that Illuminate the Beauty, Complexity, and Humanity of Life
                            <br /><br /><br /><br /><br />
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="services-item">
                        <img src="~/Content/phozogy-master/img/services/service-3.jpg" alt="">
                        <h3>Editing</h3>
                        <p>
                            Transforming Images into Timeless Icons: Professional Photography Editing that Crafts Stunning Visual Stories, Balancing Artistic Vision and Technical Excellence to Leave a Lasting Impression
                            <br />Sculpting Time, Refining Perfection: Professional Videography Editing that Shapes Raw Clips into Sculpted Gems, Infusing Each Frame with Nuance, Emotion, and Unforgettable Impact
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services Section End -->
    <!-- Categories Section Begin -->
    <section class="categories-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="section-title">
                        <h2>Categories</h2>
                        <p>
                            @*Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do<br /> eiusmod tempor
                            incididunt ut labore et dolore.*@
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="right-btn"><a href="#" class="primary-btn">VIew all</a></div>
                </div>
            </div>
            <div class="categories-slider owl-carousel">
                <div class="cs-item">
                    <div class="cs-pic set-bg" data-setbg="Content/phozogy-master/img/categories/cat-1.jpg"></div>
                    <div class="cs-text">
                        <h4>Wildlife</h4>
                        <span>120 pictures</span>
                    </div>
                </div>
                <div class="cs-item">
                    <div class="cs-pic set-bg" data-setbg="Content/phozogy-master/img/categories/cat-2.jpg"></div>
                    <div class="cs-text">
                        <h4>Nature</h4>
                        <span>325 pictures</span>
                    </div>
                </div>
                <div class="cs-item">
                    <div class="cs-pic set-bg" data-setbg="Content/phozogy-master/img/categories/cat-3.jpg"></div>
                    <div class="cs-text">
                        <h4>Potrait</h4>
                        <span>540 pictures</span>
                    </div>
                </div>
                @*<div class="cs-item">
                    <div class="cs-pic set-bg" data-setbg="Content/phozogy-master/img/categories/cat-4.jpg"></div>
                    <div class="cs-text">
                        <h4>Animal</h4>
                        <span>120 pictures</span>
                    </div>
                </div>*@
                <div class="cs-item">
                    <div class="cs-pic set-bg" data-setbg="Content/phozogy-master/img/categories/cat-5.jpg"></div>
                    <div class="cs-text">
                        <h4>Fashion</h4>
                        <span>36 pictures</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->
    <!-- Portfolio Section Begin -->
    <section class="portfolio-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Our latest works</h2>
                    </div>
                    <div class="filter-controls">
                        <ul>
                            <li class="active" data-filter="*">All</li>
                            <li data-filter=".fashion">Fashion</li>
                            <li data-filter=".lifestyle">Lifestyle</li>
                            <li data-filter=".natural">Natural</li>
                            <li data-filter=".wedding">Wedding</li>
                            <li data-filter=".videos">Videos</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 p-0">
                    <div class="portfolio-filter">
                        <div class="pf-item set-bg fashion" data-setbg="Content/phozogy-master/img/portfolio/pf-1.jpg">
                            <a href="Content/phozogy-master/img/portfolio/pf-1.jpg" class="pf-icon image-popup"><span class="icon_plus"></span></a>
                            @*<div class="pf-text hi">
                                <h4>COLORS SPEAK</h4>
                                <span>Fashion</span>
                            </div>*@
                        </div>
                        <div class="pf-item large-width large-height set-bg lifestyle"
                             data-setbg="Content/phozogy-master/img/portfolio/pf-2.jpg">
                            <a href="Content/phozogy-master/img/portfolio/pf-2.jpg" class="pf-icon image-popup"><span class="icon_plus"></span></a>
                            @*<div class="pf-text">
                                <h4>COLORS SPEAK</h4>
                                <span>Fashion</span>
                            </div>*@
                        </div>
                        <div class="pf-item large-width set-bg natural" data-setbg="Content/phozogy-master/img/portfolio/pf-3.jpg">
                            <a href="Content/phozogy-master/img/portfolio/pf-3.jpg" class="pf-icon image-popup"><span class="icon_plus"></span></a>
                            @*<div class="pf-text">
                                <h4>COLORS SPEAK</h4>
                                <span>Fashion</span>
                            </div>*@
                        </div>
                        <div class="pf-item large-height set-bg wedding" data-setbg="Content/phozogy-master/img/portfolio/pf-4.jpg">
                            <a href="Content/phozogy-master/img/portfolio/pf-4.jpg" class="pf-icon image-popup"><span class="icon_plus"></span></a>
                            @*<div class="pf-text">
                                <h4>COLORS SPEAK</h4>
                                <span>Fashion</span>
                            </div>*@
                        </div>
                        <div class="pf-item set-bg lifestyle" data-setbg="Content/phozogy-master/img/portfolio/pf-7.jpg">
                            <a href="Content/phozogy-master/img/portfolio/pf-7.jpg" class="pf-icon image-popup"><span class="icon_plus"></span></a>
                            @*<div class="pf-text">
                                <h4>COLORS SPEAK</h4>
                                <span>Fashion</span>
                            </div>*@
                        </div>
                        <div class="pf-item set-bg natural" data-setbg="Content/phozogy-master/img/portfolio/pf-8.jpg">
                            <a href="Content/phozogy-master/img/portfolio/pf-8.jpg" class="pf-icon image-popup"><span class="icon_plus"></span></a>
                            @*<div class="pf-text">
                                <h4>COLORS SPEAK</h4>
                                <span>Fashion</span>
                            </div>*@
                        </div>
                        <div class="pf-item set-bg videos" data-setbg="Content/phozogy-master/img/portfolio/pf-5.jpg">
                            <a href="Content/phozogy-master/img/portfolio/pf-5.jpg" class="pf-icon image-popup"><span class="icon_plus"></span></a>
                            @*<div class="pf-text">
                                <h4>COLORS SPEAK</h4>
                                <span>Fashion</span>
                            </div>*@
                        </div>
                        <div class="pf-item set-bg fashion" data-setbg="Content/phozogy-master/img/portfolio/pf-6.jpg">
                            <a href="Content/phozogy-master/img/portfolio/pf-6.jpg" class="pf-icon image-popup"><span class="icon_plus"></span></a>
                            @*<div class="pf-text">
                                <h4>COLORS SPEAK</h4>
                                <span>Fashion</span>
                            </div>*@
                        </div>
                        <div class="pf-item large-width set-bg videos" data-setbg="Content/phozogy-master/img/portfolio/pf-10.jpg">
                            <a href="Content/phozogy-master/img/portfolio/pf-10.jpg" class="pf-icon image-popup"><span class="icon_plus"></span></a>
                            @*<div class="pf-text">
                                <h4>COLORS SPEAK</h4>
                                <span>Fashion</span>
                            </div>*@
                        </div>
                        <div class="pf-item set-bg fashion" data-setbg="Content/phozogy-master/img/portfolio/pf-11.jpg">
                            <a href="Content/phozogy-master/img/portfolio/pf-11.jpg" class="pf-icon image-popup"><span class="icon_plus"></span></a>
                            @*<div class="pf-text">
                                <h4>COLORS SPEAK</h4>
                                <span>Fashion</span>
                            </div>*@
                        </div>
                        <div class="pf-item large-width large-height set-bg wedding"
                             data-setbg="Content/phozogy-master/img/portfolio/pf-9.jpg">
                            <a href="Content/phozogy-master/img/portfolio/pf-9.jpg" class="pf-icon image-popup"><span class="icon_plus"></span></a>
                            @*<div class="pf-text">
                                <h4>COLORS SPEAK</h4>
                                <span>Fashion</span>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="load-more-btn">
            <a href="#">Load More</a>
        </div>
    </section>
    <!-- Portfolio Section End -->
